{% extends 'base.twig' %}

{% block main %}
    
    <titrepage>CHOISISSEZ UNE FACTION</titrepage>
    <body>
    <div class="wrapper">
        <div class="un"> <a href="/race/terran"> <img src="/assets/img/logo_terran.png" alt="Terran"></img></p> </div>
        <div class="deux"> <a href="/race/zerg">  <img src="/assets/img/logo_zerg.png" alt="Zerg"></img></p> </div>
        <div class="trois"><a href="/race/protoss">  <img src="/assets/img/logo_protoss.png" alt="PROTOSS LES BEST"></img></p></div>
    </div>
    </body>
{% endblock %}

