{% extends 'base.twig' %}

{% block main %}

{% if race == "terran" %} 
<section>
        <h2>Unités Terrans</h2>

        {% for terran in terrans %}
            <a href="/{{race}}/{{ terran.slug }}">
                <figure>
                    <img src="{{ terran.avatar }}" alt="{{ terran.name }}" />
                    <figcaption>{{ terran.name }}</figcaption>
                </figure>
            </a>

        {% endfor %}
    </section>
{% elseif race == "zerg" %} 
<section>
        <h2>Unités Zergs</h2>

        {% for zerg in zergs %}
            <a href="/{{race}}/{{ zerg.slug }}">
                <figure>
                    <img src="{{ zerg.avatar }}" alt="{{ zerg.name }}" />
                    <figcaption>{{ zerg.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% elseif race == "protoss" %} 
<section>

 <a href="/race/protoss">  <img src="/assets/img/WIP.png" alt="PROTOSS LES BEST">   </img></p>

</section>
{% endif %}
{% endblock %}

