


body {
    background-size: cover;
    background-image: url("../img/bg_home1.jpg");
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /*grid-gap: 10px;
    /*grid-auto-rows: minmax(100px, auto);*/
    text-align: center;
  }

  .un {
    grid-column: 2;
    grid-row: 1;
  }
  .deux {
    grid-column: 3;
    grid-row: 1;
  }
  .trois {
    grid-column: 4;
    grid-row: 1;
  }

header{
    text-align: left ;
    background: rgb(10, 10, 10) url("../img/banner.png") repeat scroll center top;
    border: rebeccapurple;
    border-width: 5px;
    border-bottom: red;
    
  }
header nav {
    background: rgb(45, 41, 80);
    padding: 0 0.8em;
    border: 5px;
}
header nav a:hover{
    border-bottom: 3px solid color: rgb(53, 59, 121);
}
header nav b {
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(53, 59, 121);

}


titrepage {
    font-family: 'Staatliches', cursive;
    color: rgba(28, 90, 170, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.815);
    font-size: 6em;
    text-align: center;
}


h3{
    font-size: 20px;
}



p.images {
    float: left;
    margin: 0 10px 0 0;
}



* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    
}

protoss {
    background-size: cover;
    background-image: url("../img/banner.png")
    
}


footer {
    margin-top: 70px;
    padding: 2em;
}

footer img{
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

header > a{
    width: 512px;
    height: auto;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: transparent;
}


header nav{
    background: rgb(45, 41, 80);
    padding: 0 0.8em;
    border : 5px;
}



main section, main article {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

main article {
    row-gap: 0;
}
main section h2, main article h2 {
    grid-column: 1/3;
    font-family: 'Staatliches', cursive;
    color: rgba(28, 90, 170, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.815);
    font-size: 6em;
    text-align: center;
}

main section a, main .grid aside a{
    display: block;
    text-decoration: none;
}
main section a figure, main .grid aside a, main article dl, main article img{
    margin: 0;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(47, 39, 92);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 2px solid;
    border-color: rgb(125, 141, 161);
}

main article img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    margin: 0 auto;
    
}

main article dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid rgb(125, 141, 161);
    padding: 0.8em 0;
    border-left: 1px solid rgb(125, 141, 161);
    border-right: 1px solid rgb(125, 141, 161);
    border-bottom: 1px solid rgb(125, 141, 161);
    margin: 10px;
}

main article dl dt, main article dl dd {
    display: block;
    margin: 0;
    
}

main article dl titre {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

main article dl dt {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color:white;
}

main article dl dd {
    text-align: center;
    border-bottom: 2px groove rgb(125, 141, 161);
    padding-left: 0;
    padding-bottom: 15px;
    font-style: italic;
    font-size: 2em;
    color:white;
    
}

main article dl dd:last-of-type {
    border-bottom: none;
}

main article .description {
    font-size: 10px;
    color: rgb(212, 214, 213);
    text-align: left;
}

main .grid aside a figure {
    margin: 0;
}

main .grid aside a {
    margin-bottom: 15px;
}

main section a figure:hover, main .grid aside a figure:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main section a figure img, main .grid aside a figure img{
    display: block;
    width: 100%;
}

main section a figure figcaption, main .grid aside a figure figcaption {
    padding: 0.3em;
    color: rgb(111, 144, 158);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
    text-align: center;
    border: darkblue;
    border-width: 3px;
    
}

main section a:hover figure figcaption, main .grid aside a:hover figure figcaption {
    border-bottom-color: rgb(223, 0, 44);
}

main .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr .5fr;
}

main .grid aside h3 {
    font-family: 'Staatliches', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 2.6em;
    text-align: center;
}